#!/bin/bash

alias g='git'

# Git stuff
alias gti="git"
alias gs="git status"
alias gd="git diff"
alias gds="git diff --staged"
# log
alias gl="git log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit"
# log to master
alias glm="git log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit master head"
alias gls="git log --stat"
# log all
alias gla="git log --graph --pretty=format:'%C(yellow)%h%Creset %Cgreen%an%Creset %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit --all"
alias gb="git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:green)%(refname:short)%(color:reset) - %(color:yellow)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) %(color:dim)(%(committerdate:relative))%(color:reset)'"
alias ys="yadm status"
alias yl="yadm log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit"
alias gp="git log --stat --max-count=1 --abbrev-commit --pretty=format:'%C(yellow)%h%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset'"
alias gh="git log -p -M --follow --abbrev-commit -- "

rebaseStatus() {
	if [ ! -d ".git" ]; then
		echo "Must be in a git repo"
		return 1
	fi

	local next=`cat .git/rebase-apply/next`
	local last=`cat .git/rebase-apply/last`
	local onto=`cat .git/rebase-apply/onto`
	local orig=`cat .git/rebase-apply/original-commit`
	local o_head=`cat .git/rebase-apply/orig-head`
	echo "Rebase status $next/$last"
	printf "\033[0;90m"
	git rev-list --abbrev-commit --pretty=oneline $orig..$o_head | tail -n 3
	printf "\033[0;33m"
	git rev-list --abbrev-commit --format=oneline --max-count=1 $orig
	printf "\033[0;92m"
	git rev-list --abbrev-commit --format=oneline --max-count=1 $orig^
	printf "\033[0;37m"
	git rev-list --abbrev-commit --pretty=oneline --max-count=2 $orig^^
	printf "\033[0;0m"

}
alias gr=rebaseStatus || { echo "No rebase in progress?" }
# alias gr="echo 'Rebase status \\`cat .git/rebase-apply/next\\`/$last' && printf \"\033[0;90m\" && git rev-list --pretty=oneline $orig..$o_head | tail -n 3 && printf \"\033[0;92m\" && git rev-list --format=oneline --max-count=1 $orig && printf \"\033[0m\" && git rev-list --pretty=oneline --max-count=3 $orig^"


# Replace vim with nvim

alias vim="nvim"

# Go

alias gt="go test -cover -short \`go list ./... | grep -v -E vendor\`"
alias gw="find . -name '*.go' -not -path './vendor/*' | entr -c go build -v"
alias gwi="find . -name '*.go' -not -path './vendor/*' | entr -c go install -v"
alias gwt="find . -name '*.go' -not -path './vendor/*' | entr -c go test -cover -short \`go list ./... | grep -v -E vendor\`"

# Kubernetes 

alias k="kubectl"
