# Shortcuts
alias g='git'

# Git stuff
alias gti="git"
alias gs="git status"
alias gd="git diff"
alias gds="git diff --staged"
alias gl="git log --graph --pretty=format:'%C(yellow)%h%Creset  %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit"
alias gll="git log --graph --pretty=format:'%C(yellow)%h%Creset  %Cgreen%an%Creset %C(cyan)%d%Creset %C(bold)%s%Creset  %C(dim)(%cD)%Creset' --abbrev-commit --all"
alias ys="yadm status"
alias yl="yadm log --graph --pretty=format:'%C(yellow)%h%Creset  %C(cyan)%d%Creset %C(bold)%s%Creset %C(dim)(%cr)%Creset' --abbrev-commit"
alias yll="yadm log --graph --pretty=format:'%C(yellow)%h%Creset  %Cgreen%an%Creset %C(cyan)%d%Creset %C(bold)%s%Creset  %C(dim)(%cD)%Creset' --abbrev-commit --all"

# Replace vim with nvim

alias vim="nvim"

# Go

alias gt="go test -cover \`go list ./... | grep -v -E vendor\`"

alias k="kubectl"
