[user]
	name = Antti Kupila
	email = akupila@gmail.com
[interactive]
	# Enable single key interactions in patch add etc
	singleKey = true
[pull]
	# Apply local commits after remote on pull
	rebase = true
[rebase]
	# Enable moving --fixup commits to correct places
	autosquash = true
