# table driven test
snippet table "Create test table"
tests := []struct{
	name string
}{
	{${0:${VISUAL}}},
}

for _, tt := range tests {
	t.Run(tt.name, func(t *testing.T) {
		${0:${VISUAL}}
	})
}
endsnippet
